@for $i from 0 through 4 {
  .pokemon-#{$i}{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    background-image:url(../img/#{$i}.png);
  }
}